// Form send message
.form-group {
    position: relative;

    & + .form-group {
        margin-top: 14px;
    }

    .form-control {
        width: 100%;
        // height: 52px;
        padding: 22px 15px 4px;
        color: white;
        border: 1px solid transparent;
        box-shadow: 0 0 0 1px #ccc;
        transition: all 0.3s ease-in-out;

        &:focus,
        &:not(:placeholder-shown) {
            box-shadow: 0 0 2px 1px #43d5db;

            & + .form-label {
                color: #43d5db;
                top: 0;
                font-size: 16px;
            }
        }
    }

    .form-label {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 18px;
        // color: rgba(0, 0, 0, 0.5);
        color: #ccc;
        transition: all 0.3s ease-in-out;
    }
}

// Contact infos
.contact-info__item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    &:hover {
        color: rgb(74 222 128/1);
    }
    & + .contact-info__item {
        margin-top: 25px;
    }
}

.contact-info__item__icon {
    display: flex;
    padding: 1rem;
    margin-right: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    border-width: 1px;
    height: 40px;
    width: 40px;
    transition: all 0.2s ease-in-out;
    // @apply mr-3 flex h-[40px] w-[40px] items-center justify-center rounded-full border p-4 text-lg transition-all duration-300 ease-in-out lg:mr-4;
    @media (min-width: 1024px) {
        margin-right: 1rem;
    }
}

// .contact-info__social-icon {
//     @apply inline-block p-2 text-3xl transition-all duration-300 ease-in-out hover:scale-125 hover:text-green-500;
// }
