$main-register-color: #03e9f4;

.register-page {
    --main-register-color: #03e9f4;
    background: linear-gradient(#141e30, #243b55);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 400px;
    max-height: calc(100% - 40px);
    padding: 40px;
    margin: 12px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;

    .title {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 12px;
    }

    > form {
        max-height: 80%;
        padding: 4px;
        overflow-y: overlay;
        &::-webkit-scrollbar-thumb {
            background: transparent;
        }
    }

    .form-data {
        // max-height: 425px;
        max-height: 55vh;
        padding: 4px;
        overflow-y: auto;
        &::-webkit-scrollbar-thumb {
            background: #009bf42e;
        }
    }

    .register-btn {
        @apply mt-8 inline-block cursor-pointer py-2 px-5 uppercase tracking-wider text-[var(--main-register-color)] shadow-[0_0_5px_var(--main-register-color)];
    }
}

.user-box {
    position: relative;
    & + .user-box {
        margin-top: 32px;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        pointer-events: none;
        font-size: 16px;
        transition: 0.5s;
    }

    .register-input {
        background: transparent;
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        color: white;
        caret-color: white;
        border-bottom: 1px solid #fff;
    }

    .register-input:focus,
    .register-input:not(:placeholder-shown) {
        border-color: $main-register-color;
        & + label {
            top: -20px;
            left: 0;
            color: $main-register-color;
            font-size: 14px;
            transition: 0.5s;
        }
    }
}

.form-msg {
    @apply pt-1 text-red-500;
}

.radio {
    appearance: none;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid currentColor;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 2px;
        border-radius: 50%;
        background-color: $main-register-color;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
    }

    &:checked::before {
        transform: scale(1);
    }
    &:checked + label {
        color: $main-register-color;
    }
}

.login-link {
    @apply inline-grid place-content-center rounded-full px-3 py-1.5 font-semibold text-[color:#03e9f4] underline transition duration-150 ease-in-out hover:bg-[color:#03e9f480];
}
