.login-page {
  background: linear-gradient(#141e30, #243b55);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  color: white;

  .title {
    text-align: center;
  }

  .login-btn {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
    letter-spacing: 4px;
    box-shadow: 0 0 5px #03e9f4;
    cursor: pointer;
  }
}

.user-box {
  position: relative;

  label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 16px;
    transition: 0.5s;
  }

  .login-input {
    background: transparent;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    color: white;
    caret-color: white;
    margin-bottom: 30px;
    border-bottom: 1px solid #fff;
  }

  .login-input:focus ~ label,
  .login-input:not([value='']) ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
    transition: 0.5s;
  }
}


.radio {
  appearance: none;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid currentColor;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 50%;
    background-color: #03e9f4;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }

  &:checked::before {
    transform: scale(1);
  }

}