$main-register-color: #03e9f4;

.register-page {
    background: linear-gradient(#141e30, #243b55);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: white;
    
    .title {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 12px;
    }
    
    > form {
        padding: 4px;
        max-height: 70vh;
        overflow-y: overlay;
    }

    .register-btn {
        display: inline-block;
        padding: 10px 20px;
        color: $main-register-color;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 36px;
        letter-spacing: 4px;
        box-shadow: 0 0 5px $main-register-color;
        cursor: pointer;
    }
}

.user-box {
    position: relative;
    & + .user-box {
        margin-top: 32px;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        pointer-events: none;
        font-size: 16px;
        transition: 0.5s;
    }

    .register-input {
        background: transparent;
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        color: white;
        caret-color: white;
        border-bottom: 1px solid #fff;
    }

    .register-input:focus,
    .register-input:not(:placeholder-shown) {
        border-color: $main-register-color;
        & + label {
            top: -20px;
            left: 0;
            color: $main-register-color;
            font-size: 14px;
            transition: 0.5s;
        }
    }

}

.form-msg {
    @apply pt-1 text-red-500;
}

.radio {
    appearance: none;
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid currentColor;
    cursor: pointer;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        inset: 2px;
        border-radius: 50%;
        background-color: $main-register-color;
        transform: scale(0);
        transition: all 0.2s ease-in-out;
    }

    &:checked::before {
        transform: scale(1);
    }
    &:checked + label {
        color: $main-register-color;
    }
}

.login-link {
    @apply rounded-full p-2 font-semibold text-[color:#03e9f4] underline transition duration-150 ease-in-out hover:bg-[color:#03e9f480];
}
