$main-login-color: #03e9f4;

.login-page {
    background: linear-gradient(#141e30, #243b55);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    color: white;

    .title {
        text-align: center;
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 12px;
    }

    .login-btn {
        display: inline-block;
        padding: 10px 20px;
        color: $main-login-color;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 36px;
        letter-spacing: 4px;
        box-shadow: 0 0 5px $main-login-color;
        cursor: pointer;
    }
}

.user-box {
    position: relative;
    & + .user-box {
        margin-top: 36px;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        pointer-events: none;
        font-size: 16px;
        transition: 0.5s;
    }

    .login-input {
        background: transparent;
        font-size: 16px;
        width: 100%;
        padding: 10px 0;
        color: white;
        caret-color: white;
        border-bottom: 1px solid #fff;
    }

    .login-input:focus,
    .login-input:not(:placeholder-shown) {
        border-color: $main-login-color;
        & + label {
            top: -20px;
            left: 0;
            color: $main-login-color;
            font-size: 14px;
            transition: 0.5s;
        }
    }

    .form-msg {
        padding-top: 0.25rem;
        color: #ef4444;
        // @apply pt-1 text-red-500;
    }
}

.register-link,
.forgot-password-link {
    padding: 0.5rem;
    font-weight: 600;
    text-decoration: underline;
    border-radius: 9999px;
    color: #03e9f4;
    transition: all 150ms ease-in-out;
    &:hover {
        background: #03e9f480;
    }
    // @apply rounded-full p-2 font-semibold text-[color:#03e9f4] underline transition duration-150 ease-in-out hover:bg-[color:#03e9f480];
}
