.search {
    width: var(--search-width);
    background-color: var(--search-bg);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    position: relative;

    .search-btn {
        padding: 8px 12px;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            cursor: pointer;
        }
    }
    input {
        flex: 1;
        color: white;
        font-size: 16px;
        background-color: transparent;
        padding-right: 28px;
    }
}

.popper-wrapper {
    width: var(--search-width);
    // max-height: calc(100vh - 180px);
    padding: 1rem 0px;
    min-height: 100px;
    border-radius: 8px;
    background-color: var(--popper-bg);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.clear,
.loading {
    position: absolute;
    // right: calc($search-btn-width + 16px);
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #bebebe;
}

.loading {
    animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
