.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 300px;
    border-radius: 24px;
    margin: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 2px;
    background-color: #fff;

    .title {
        @apply pt-4 pb-2 text-center text-3xl font-bold;
    }
}
