.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-height: 300px;
    border-radius: 24px;
    margin: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 2px;
    background: var(--main-screen-bg);

    .title {
        padding-bottom: 0.5rem;
        padding-top: 1rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-align: center;
        // @apply pt-4 pb-2 text-center text-3xl font-bold;
    }
}
