.wrapper {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 16px;
   padding-right: 16px;
    
}
.user {
    display: flex;
    align-items: center;
    color: white;
    .user-name {
        font-size: 22px;
        padding-right: 20px;
    }
    .user-avatar {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #009CF4;
    }
}